@import url('sns_modal.css');

.paging{padding-bottom:0}
.tabcons{position:relative;margin:0 auto;margin-top:50px;}
.tabcons > li{display:none}

/* video */
.video_view_container{position:relative;margin-bottom:30px;border-bottom-width:1px;border-bottom-style:solid}
.video_title{margin:0 40px;line-height:80px}
.video-btns{opacity:0.6;position:absolute;bottom:0;width:25px;height:80px;background-repeat:no-repeat;background-position:center;text-indent:-10000px}
.video-btns:hover{opacity:1}
.video-prev{left:0;background-image:url('../img/btn_prev.png')}
.video-next{right:0;background-image:url('../img/btn_next.png')}

.grid_list{text-align:center;}
.grid_list:after{content:'';display:block;clear:both}
.grid_list > li{position:relative;display:inline-block;;width:260px;margin:0 20px 10px 0}
.grid_list > li > a{display:block;position:relative}
.grid_img_area{position:relative}
.grid_img_area > img{width:100%}
.grid_txt_area{position:relative;height:50px;margin:0 10px;line-height:55px;text-align:center}

/* facebook */
.fb_wrap{width:1030px;margin:0 auto}
.fb_header{position:relative;height:110px;background-color:#eff1f7}
.fb_header > .col1{position:absolute;left:40px;top:30px}
.fb_header > .col1 img{width:100px;padding:4px;border:1px solid #ebebeb;background-color:#fff}
.fb_header > .col2{margin-left:180px;margin-right:20px;padding-top:35px}
.fb_header .row2{margin:9px 150px 0 0;font-size:1.375em}
.fb_header > .col3{position:absolute;right:40px;top:65px}
.fb_list{position:relative;width:1050px;left:-10px;margin-top:60px}
.fb_list:after{content:'';display:block;clear:both}
.fb_list > li{float:left;width:505px;margin:0 10px 20px;padding:15px;border:1px solid #ebebeb;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
}
.fb_head{height:40px}
.fb_head > .col1{width:40px;margin-right:10px}
.fb_head > .col1 > img{width:34px;padding:2px;border:1px solid #ebebeb}
.fb_head .row1{margin-top:4px;color:#c93622}
.fb_head .row2{margin-top:6px}
.fb_text{margin:20px 0 10px}
.fb_text a{text-decoration:underline}
.fb_text a:hover{color:#c93622}
.fb_link > a{color:#c93622}
.fb_link > a:hover, .fb_link > a:focus{text-decoration:underline}
.fb_img{overflow:hidden;margin-top:20px}
.fb_img > img{width:100%}

/* instagram */
.ig_wrap{margin:0 auto;padding-bottom:38px}
.ig_list{text-align:center;}
.ig_list:after{content:'';display:block;clear:both}
.ig_list > li{display:inline-block;position:relative;width:240px;height:240px;margin:0 5px 10px;background-repeat:no-repeat;background-position:50% 50%;background-size:cover}
.ig_list > li > a{display:block;height:100%}
.ig_list p{position:absolute;left:0;bottom:0;width:100%;height:32px;background-color:rgba(255,255,255,0.7);line-height:32px;text-align:center}
.ig_list span{padding-left:30px}

/* load more button */
.load_more{position:relative;height:54px;margin-top:20px;background-color:#f8f8f8}
.load_more > a{display:block;height:100%;font-weight:700;font-size:18px;text-align:center}
.load_link_tt{position:absolute;left:50%;top:17px;width:100px;margin-left:-50px}
.load_spinner{display:none;position:absolute;left:50%;top:21px;margin-left:-16px}
.spinner > .load_link_tt{display:none}
.spinner > .load_spinner{display:block}

.naver_font{width:100%;font-size:0.9em;}
.naver_cont_font{font-size:0.875em}

@media screen and (min-width:765px){
    .naver_font{font-size:1.125em;width:80%;}
    .naver_cont_font{font-size:0.9em}
}

@media screen and (min-width:1260px){
    .tabcons{width:1160px;}
    .naver_font{width:70%;font-size:1.2em;}
    .naver_cont_font{font-size:0.975em}
    .ig_wrap{width:1000px;}
}

.video_size{height:320px;}

@media screen and (min-width:680px){
    .video_size{height:500px;}
}

@media screen and (min-width:900px){
    .video_size{height:652px;}
}
